<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Hilyle", root_path + "#top", :class => "brand" %>
				<div class="socialbar pull-right">
					<%= link_to image_tag("social/facebook.png", :alt => "Facebook"), 'https://www.facebook.com/Hilyle' %>
					<%= link_to image_tag("social/bandcamp.png", :alt => "Bandcamp"), 'http://hilyle.bandcamp.com/' %>
					<%= link_to image_tag("social/reverbnation.png", :alt => "Reverbnation"), 'http://www.reverbnation.com/hilyle' %>
					<% link_to image_tag("social/youtube-inverted.png", :alt => "Youtube"), 'http://www.youtube.com/channel/UCI1TjjFo9DxZQjMiz13v-Tw/videos' %>
				</div>
				<ul class="nav nav-pills pull-right">
					<li>	<%= link_to "Musique", root_path + "#musique" %>
					</li>
					<li>	<%= link_to "Videos", root_path + "#videos" %>
					</li>
					<li>	<%= link_to "Bio", root_path + "#bio" %>
					</li>
					<!-- <li>	<%= link_to "Concerts", root_path + "#shows" %> </li> -->
					<li>	<%= link_to "Espace Pro", root_path + "#pro" %>
					</li>
				</ul>
			</div>
		</div>
	</nav>