<!DOCTYPE html>
<html>
<head>
  <title>Hilyle - Site Officiel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<span id="top"></span>
	<%= render "shared/navbar" %>
	<%= render "shared/header" %>
	<div class="content">
		<section class="container">
			<%= yield %>
		</section>
	</div>
	<%= render "shared/footer" %>
	<%= render "shared/analytics" %>
</body>
</html>
